.DS_Store
kelvin-313-15-vue/node_modules
kelvin-313-15-vue/dist

# local env files
kelvin-313-15-vue/.env.local
kelvin-313-15-vue/.env.*.local

# Log files
kelvin-313-15-vue/npm-debug.log*
kelvin-313-15-vue/yarn-debug.log*
kelvin-313-15-vue/yarn-error.log*

# Editor directories and files
.idea
.vscode
*.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
